@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: black;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  font-weight: 500;
  color: magenta;
  transition: ease .2s;
}

a:visited {
  font-weight: 500;
  /* color: orange; */
  transition: ease .2s;
}

p { 
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
}

section {
  background-color: white;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  background-color: magenta;
}

#about-me {
  background-color: white;
  height: 100vh;
}

.logo {
  height: 80px;
  width: auto;
}

#jbLogo {
  height: 100px;
}

.hero {
  background-color: #333333;
  height: 100vh;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  font-size: 2rem;
  justify-content: space-around;
}

ul.show {
  display: block;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  margin: 0px;
}

h2 {
  font-size: 1.5rem;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

#copyright {
  padding-top: 60px;
}

#nav-list {
  position: relative;
}

.nav-list-link:hover {
color: magenta;
transition: none;
font-weight: 600;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#name:hover {
  color: goldenrod;
  letter-spacing: 3px;
  transition: ease-in 1s;
  box-shadow: 0px 2px magenta;
}

#title:hover {
  letter-spacing: 2px;
  transition: ease 2s;
}

.section-title:hover {
  color: orange;
  letter-spacing: 2px;
  transition: ease-in 1s;
  box-shadow: 0px 2px magenta;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 300px;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  background-color: magenta;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 10px;
}

.button:hover {
  background-color: lightgray;
  transition: ease .5s;
  color: white;
}

.button:active {
  background-color: lightslategray;
  color: black;
}

.socials {
  top: 0;
  right: 0;
  padding-bottom: 200px;
  height: 100%;
  position: fixed;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icon {
  margin: 10px;
}

#li-svg, #twit-svg, #github-svg {
  fill: white;
}

#li-svg:hover, #twit-svg:hover, #github-svg:hover {
  fill: goldenrod;
  transition: ease 1s;
}

/* project icons */
#icon-html5, #icon-css3, #icon-js, #icon-react {
  width: 20px;
  height: 20px;
}

#icon-html5 {
  color: orangered;
}

#icon-css3 {
  color: cornflowerblue;
}

#icon-js {
  color: goldenrod;
}

#icon-react {
  color: #61DBFB;
}

.iconLg {
  width: 80px;
  height: 80px;
}

.iconHover {
  width: 120px;
  height: 120px;
  transform: rotate(10deg);
  transition: ease .1s;
}

/* project icons - end*/

.information {
  color: black;
  display: flex;
  flex-direction: column;
}

.main-menu {
  padding-right: 80px;
  font-size: 2rem;
}

.headshot {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid gold;
  padding: 3px;
  margin-left: 10px;
  float: right;
}

.bio-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
}

.bio-text {
  float: left;
}

#main-bio-subtext {
  font-weight: normal;
  line-height: 2rem;

}

#main-bio-text {
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
}

#bio-list {
  display: block;
  list-style-type: circle;
  width: 50%;
  font-size: 2rem;
  justify-content: space-around;
}

.certificates {
  width: 150px;
  height: 110px;
  padding: .2rem;
  border: 1px solid orange;
  border-radius: 5px;
}

.certificates:hover {
  transition: ease-in .5s;
  border: 1px solid magenta;
}

.certContainer {
  position: absolute;
  bottom: .75rem;
  left: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#psCert {
  margin-left: 1rem;
}

#fccCert {
  margin-right: 1rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-right: 60px;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px gray;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}

#miniCard {
  width: 300px;
  height: 200px;
  box-shadow: 5px 5px 20px gray;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
}

.subtext {
  font-size: 1rem;
  font-weight: 400;
}

.project-image {
  margin: 10px;
  width: 250px;
  height: 250px;
  padding-top: 10px;
  border-radius: 25%;
}

.project-link {
  text-decoration: none;
  color: orange;
}

#subText {
  font-weight: bold;
}

#githubLink {
  font-weight: bold;
}

#githubLink:hover {
color: white;
text-decoration: underline;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}

.fa-square-caret-up  {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 100;
  color: gray;
}

.fa-square-caret-up:hover {
color: goldenrod;
}

#nav-menu-text {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.loaded {
  transform: rotate(15deg);
}

@media only screen and (max-width:1130px) {

  h1 {
    font-size: 4rem;
  }

  #about-me {
    height: auto;
  }

  #main-bio-subtext {
    font-size: .75rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    left: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
  }

  .project-image {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  .main-menu {
    display: none;
    align-items: center;
    text-align: right;
    /* padding-right: 40px; */
    border-radius: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #555555;
  }

  .hamburger  {
    display: block;
    position: fixed;
    right: 70px;
    border: 0;
    background-color: black;
    color: white;
    font-size: 2rem;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    padding-bottom: 5px;
    opacity: 0.5;
  }

  .fa-bars:hover {
    color: goldenrod;
  }

  #nav-list {
    padding: 10px;
    width: auto;
    text-align: center;
    position: fixed;
    right: 150px;
    margin: 10px;
  }

  .hero-text {
    padding-top: 100px;
  }

  .sub-section-alt {
    height: auto;
    justify-content: center;
    align-content: center;
  }

  .sub-section {
    height: 100vh;
  }

  #aboutMeBtn {
    visibility: hidden;
  }

  .certContainer {
    position: absolute;
    bottom: .5rem;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  }

  @media only screen and (max-width: 400px) {

    h1 {
      font-size: 3rem;
    }

    .project-card {
      width: 220px;
    }

    .certContainer {
      position: absolute;
      bottom: .5rem;
      left: 1%;
    }

    .project-container {
      width: 100%;
      height: auto;
    }
  }